body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background-color:#ccc;
    text-align: center;

}
h1{
    text-align: center;
    margin-left: 0px;
    margin-right: 60px;
    color: #333;
    font-size: 44px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.inputtext{
    background-color: #f8f6f6;
    width:360px;
}

.datedate{
    background-color: #f8f6f6;
    width: 290px;
}
#todo-input{
    margin: 20px ;
    padding: 10px ;
    margin-right: 40px;
    margin-left: 0px;
    text-align:left;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 15px 15px 15px rgba(10, 0, 0, 0.1);
    transition: all 0.5s ease;
}
#todo-date{
    margin: 20px ;
    padding: 10px;
    margin-left: 80px;
    text-align:left;
    display: inline-block;
    margin-right: 0px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 15px 15px 15px rgba(10, 0, 0, 0.1);
    transition: all 0.5s ease;
}
#todo-input:focus{
    outline: none;
    border-color: #4f6b75;
    box-shadow: 0 0 10px rgba(79, 107, 117, 0.5);
}

#todo-input:focus, #btn-todo:hover{
    box-shadow: 0 0 40px rgba(79, 107, 117, 0.7);
}
#todo-input:hover, #todo-date:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 7, 10, 0.3);
}

.btn-todo, .btn-delete{
    padding: 10px 20px;
    background-color: #4f6b75;
    color: white;
    border: none;
    width: 110px;
   margin-right: 40px;
   margin-left: 250px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
transition: all 0.3s ease;

}
.btn-todo:hover, .btn-delete:hover{
    background-color: #3a5259;
    transform: scale(1.3);
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  margin-left: 500px;
  row-gap: 10px;
  font-size: 20px;
  color: #333;

  margin-top: 10px;
  align-items: center;
}
